{% extends 'pages/base.html' %}

{% block content %}
<div class="w3-container">
	<div class="w3-row w3-center w3-black w3-text-white">
		<h1><u>About</u></h1>
	</div>
	
	<div class="w3-row w3-center w3-blue">
		<h2>Scoring:</h2>
		<p>Points are awarded for each correct athlete guess, with extra points for guessing the correct athlete and place. You receive 5 points for every correct athlete in the wrong place, 10 points for one correct athlete in the correct place, 25 points for two correct athletes in the correct place, and 50 points for guessing a sport outcome perfectly.</p>
	</div>	
	<div class="w3-row w3-center w3-red">
		<h2>Prizes:</h2>
		<p>
			<b>First Place:</b> Your name engraved on the champion plaque, a first place medal, and an Olympics sweatshirt or jacket!<br>
			<b>Second Place:</b> A second place medal and an Olympics t-shirt!<br>
			<b>Third Place:</b> A third place medal<br>
			<b>Last Place:</b> A mystery prize! You must submit three answers for every sport to qualify for biggest loser.
		</p>
	</div>	
	<div class="w3-row w3-center w3-green">
		<h2>Past Winners</h2>
		<p>
			<u><b>Beijing 2022</b></u><br>
			<b>First:</b> Lauren<br>
			<b>Second:</b> Tom<br>
			<b>Third:</b> Will & Nicole<br>
			<b>Biggest Loser:</b> MK<br>
			<u><b>Tokyo 2020</b></u><br>
			<b>First:</b> Tom<br>
			<b>Second:</b> Lauren<br>
			<b>Third:</b> Julia<br>
			<b>Biggest Loser:</b> MK<br>
			<u><b>Sochi 2018</b></u><br>
			<b>First:</b> Lauren<br>
			<b>Second:</b> Tom<br>
			<b>Third:</b> Julia<br>
			<b>Biggest Loser:</b> MK<br>
			<u><b>Rio 2016</b></u><br>
			<b>First:</b> Tom<br>
			<b>Second:</b> Lauren<br>
			<b>Third:</b> Julia<br>
		</p>
	</div>
	<div class="w3-row w3-center">
		<h2>How are the events chosen? The argument for Breaking</h2>
		<p>Everyone has their opinion about what should and should not be in the Olympics. 
		There's no argument that some events take an extreme level of overall fitness, while other events are focused on a specific skill. 
		Either way, the competitors are the best in the world, and have dedicated their lives to their event. 
		I've tried to choose a wide variety of events, focusing on ones most people never get to see, as well as everyone's favorites.
		Based on feedback, I've tried to pick more team events than previously, which is why you'll see more relays. 
		I've had mixed feedback about picking Breaking this time around. That said, I think it takes a lot of skill and athleticism and I fully support the addition of new events to appeal to the youth.
		So let's give it a chance!
		</p>
	</div>
{% endblock %}
