{% extends 'pages/base.html' %}

{% block content %}

<div class="w3-container">
	<div class="w3-row w3-center w3-padding">
		{% for sport_list in sport_list %}
			* <a href="/guesses/edit/all/{{sport_list.slug}}">{{sport_list}}</a>
		{% endfor %}
	</div>
</div>
<div class="w3-container w3-blue">
	<h1>{{sport_query}}</h1>
</div>

{% if sport_query.locked %}
<div class="w3-container w3-center">
	<p>This sport has locked. Your saved guesses are:</p>
	{% if sport_query.team %}			
		<p><b>Gold:</b> {{active_guess.gold_country}}</p>
		<p><b>Silver:</b> {{active_guess.silver_country}}</p>
		<p><b>Bronze:</b> {{active_guess.bronze_country}}</p>
	{% else %}
		<p><b>Gold:</b> {{active_guess.gold_athlete}}</p> 				
		<p><b>Silver:</b> {{active_guess.silver_athlete}}</p>
		<p><b>Bronze:</b> {{active_guess.bronze_athlete}}</p>
	{% endif %}
	<p>Click <a href = "/guesses/all">here</a> to view all your guesses</p>
</div>


{% else %}

<div class="w3-container w3-center">
	<div class="w3-row">
		<h3><img src="/media/{{sport_query.slug}}.jpg" style="width:100%;max-width:60px">Your Guesses<img src="/media/{{sport_query.slug}}.jpg" style="width:100%;max-width:60px"></h3>
		{% if sport_query.team %}			
			<p><b>Gold:</b> {{active_guess.gold_country}}</p>
			<p><b>Silver:</b> {{active_guess.silver_country}}</p>
			<p><b>Bronze:</b> {{active_guess.bronze_country}}</p>
		{% else %}
			<p><b>Gold:</b> {{active_guess.gold_athlete}}</p> 				
			<p><b>Silver:</b> {{active_guess.silver_athlete}}</p>
			<p><b>Bronze:</b> {{active_guess.bronze_athlete}}</p>
		{% endif %}
		<form method="POST" class="post-form">{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="save btn btn-info">Save</button>
		</form>
	</div>
</div>
{% endif %}
{% endblock %}
