{% extends 'pages/base.html' %}

{% block content %}

{% if show_subscribe_message %}
<div class="w3-panel w3-display-container w3-blue w3-center">
	<span onclick="this.parentElement.style.display='none'"
    class="w3-button w3-display-topright">X</span>
    <p>Sign up for daily email reminders?</p>
	<div class="w3-padding">
		<form method="POST" class="post-form" enctype="multipart/form-data">
		{% csrf_token %}
		<a href="/email-settings/" class="w3-button w3-green">Yes!</a>
		<button type="submit" class="save w3-button w3-red"><b>No Thanks!</b></button>
		</form>
	</div>
</div>

{% else %}


{% endif %}



{% endblock %}